.collage {
  position: relative;
  background: transparent url('../images/collage.png') 0 0;
  background-size: 28rem;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.48) 69%,rgba(0,0,0,0.48) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.48) 69%,rgba(0,0,0,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
.wrapper,
.flash .wrap,
.header-container .wrap,
.footer-content,
.collage-form-container {
  margin: 0 auto;
  padding: 0 $small-spacing;
  @include media($above-mid) {
      width: 80%;
  }
  @include media($above-wide) {
      width: 60%;
  }
}

.wrapper {
  @include outer-container;
  padding: $base-spacing $small-spacing $small-spacing;
}

.content-head {
  form {
    margin-bottom: 0 !important;
  }
  .collage-form-container {
    position: relative;
    z-index: 1;
  }
  .above-title {
    font-family: $thin-font-family;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: absolute;
    & ~ h1 {
      padding-top: 2.5rem;
      margin-top: $small-spacing;
      margin-bottom: $small-spacing/2;
    }
  }
  &.with-collage {
    @extend .collage;
    padding: 4.3rem 0;
    overflow: hidden;
    h1 {
      margin-bottom: 0;
    }
    &:after {
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .input-and-button-container {
      display: block;
      margin-bottom: $base-spacing;
      border-left: 3px solid $blue;
      input {
        width: 91%;
        font-size: 2.5rem;
        padding: 1.44rem;
        background-color: white;
      }
      button {
        position: absolute;
        right: 0;
      }
    }
    .input-and-button-container,
    h1 {
      @include media($above-mid) {
        @include span-columns(9);
      }
    }
  }
  .collage-form-container {
    overflow: hidden;
  }
  &.with-bg {
    position: relative;
    background-color: $blue;
    color: white;
    .copy-container {
      padding-top: $base-spacing;
    }
    h1 {
      margin-top: 0;
      color: white;
    }
    p {
      margin-bottom: $small-spacing;
    }
    img {
      display: none;
    }
    ul {
      font-family: $thin-font-family;
      line-height: 1.7;
    }
    @include media($above-small) {
      .copy-container {
        padding: $base-spacing 20rem $small-spacing 2rem;
        &.employees {
          padding-right: 39%;
          padding-top: 3rem;
        }
      }
      img {
        display: block;
        position: absolute;
        right: 0;
      }
      img.img-products {
        top: -3px;
        right: 0;
        max-width: 18rem;
      }
      img.employees {
        max-width: 33rem;
        bottom: 0;
      }
    }
    @include media($above-mid) {
      img.img-products {
        top: -5.2rem;
        right: 3rem;
      }
      img.employees {
        max-width: 40rem;
      }

    }
  }
}

.primary-content {
  @include media($above-mid) {
    @include span-columns(9);
    margin-bottom: $base-spacing;
  }
}

.secondary-content {
  @include media($above-mid) {
    @include span-columns(3);
  }
}

.card {
  @include outer-container;
  position: relative;
  padding: $base-spacing;
  .radio-checkbox-list & {
    padding: 0;
  }
  &.border {
    border: 4px solid $blue;
  }
  &.blue {
    background-color: lighten($blue, 52%);
    border: 4px solid $blue;
  }
}

.card-blue {
  @include outer-container;
  border: 5px solid $orange;
  position: relative;
  padding: $base-spacing;
  background-color: lighten($orange, 47%);
  color: $orange;
  margin-top: $base-spacing;
  h2 {
    color: $orange;
  }
  h4 {
    margin-bottom: $small-spacing/2;
    font-family: $bold-font-family;
  }
  .free-section,
  .vas-section {
    @extend %half-width;
    ul {
      margin-left: 2.4rem;
      @extend .check-list;
    }
    li {
      margin-bottom: $small-spacing/2;
    }
  }
  @include media($above-mid) {
    padding: $small-spacing $small-spacing $base-spacing;
    margin-top: 0;
    .free-section,
    .vas-section {
      @include span-columns(12);
      margin-bottom: $base-spacing;
    }
  }
}

.hidden {
  display: none !important;
}


// feedback button

.feedbackButton {
  margin-top: -65px;
  position: fixed;
  width: 40px;
  height: 131px;
  z-index: 4;
  right: 0px;
  top: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}

// no header layout
.no-header {
  .logo-container {
    position: relative;
    border-bottom: 20px solid $blue;
    text-align: center;
    img {
      position: relative;
      max-width: 75%;
      bottom: -1.4rem;
      right: -9%;
      @include media($above-small) {
        max-width: 50%;
        bottom: -1.8rem;
        right: -3%;
      }
      @include media($above-mid) {
        max-width: 32%;
        bottom: -2rem;
        right: 0;
      }
    }
    @include media($above-small) {
      padding-top: 2%;
    }
  }
  .collage-with-feather {
    @extend .collage;
    margin-top: 4px;
    height: 9.5rem;
    img {
      position: absolute;
      z-index: 1;
      max-width: 30%;
      left: 0;
      top: -6rem;
      @include media($above-small) {
        max-width: 20%;
        left: 16%;
        top: -6rem;
      }
      @include media($above-mid) {
        max-width: 10%;
        left: 28%;
      }
    }
  }
}
.share {
  max-width: 100%;
  position: relative;
  bottom: -7px;
  left: 0;
  @include media($above-small) {
    max-width: 50rem;
    left: 16%;
  }
}

.icon-benefit {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
  &:after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 4.3rem;
  }
}
[class^="health"],
[class*="health"] {
  .icon-benefit:after {
    background-image: url('../images/icon-health.png');
    top: 2.1rem;
    left: 1.8rem;
  }
}
[class^="telemedicine"],
[class*="telemedicine"] {
  .icon-benefit:after {
    background-image: url('../images/icon-telemedicine.png');
    background-size: 3rem;
    top: 1.8rem;
    left: 2.5rem;
  }
}
[class^="career"],
[class*="career"] {
  .icon-benefit:after {
    background-image: url('../images/icon-career.png');
    background-size: 3.2rem;
    top: 1.8rem;
    left: 2.4rem;
  }
}
[class^="loan"],
[class*="loan"] {
  .icon-benefit:after {
    background-image: url('../images/icon-loan.png');
    background-size: 4.6rem;
    top: 2.3rem;
    left: 1.6rem;
  }
}
[class^="wellness"],
[class*="wellness"] {
  .icon-benefit:after {
    background-image: url('../images/icon-wellness.png');
    background-size: 3.8rem;
    top: 1.4rem;
    left: 2rem;
  }
}
[class^="legal"],
[class*="legal"] {
  .icon-benefit:after {
    background-image: url('../images/icon-legal.png');
    background-size: 4.4rem;
    top: 2rem;
    left: 1.8rem;
  }
}
[class^="family-care"],
[class*="family-care"] {
  .icon-benefit:after {
    background-image: url('../images/icon-carecom.png');
    background-size: 4rem;
    top: 1.8rem;
    left: 1.8rem;
  }
}


// Ball 3d effect

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #e8f3fd 66%, #9bc8ff 100%);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.03) 40%, transparent 50%);
    z-index: -1;
    bottom: -4rem;
    left: 0;
    transform: rotateX(104deg);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 84%;
    left: 83%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  }

}
