extends ../layouts/no-header

block content
  .agent-welcome
    form#container(action='agent-dashboard', novalidate)
      .logo-container
        img(src='../images/logo-big.png', title='Aflac : Employer Choice Tool')
      .collage-with-feather
        img(src='../images/feather.png', title='Aflac : Employer Choice Tool')
      .wrapper
        .card-center
          //- h1 Hello #{locals.user.name.first}
          h1 Welcome!
          //- a.sign-out(href='/keystone/signout') Sign Out
          p(style='margin-bottom: 0') BIG NEWS! Employers that agree to offer our core Group products (CI, HI, or ACC) to their employees will also be able to provide all employees with access to 
            strong one of our new value added benefits, at no cost
            span.field-tip(style=' top: -0.5rem; border-bottom: 0;') * 
              span.tip-content *For employers who meet the conditions including offering Aflac core Group products, Aflac will provide access to the value added service at no cost.  Usage costs may apply; see benefit description for details.
          p Plus, employers can choose to purchase various other new value added services for all their employees.  This EMpowerALL tool allows employers to make all these decisions and more, in one easy-to-use place.
          img(src='../images/lady-with-globe.png')        
      .strip
        button.btn-primary(type="submit", style='margin-left: 1rem') Get Started Now!
