extends ../layouts/no-header

block content
  .agent-welcome
    form#container(action='agent-dashboard', novalidate)
      .logo-container
        img(src='../images/logo-big.png', title='Aflac : Employer Choice Tool')
      .collage-with-feather
        img(src='../images/feather.png', title='Aflac : Employer Choice Tool')
      .wrapper
        .card-center
          //- h1 Hello #{locals.user.name.first}
          h1 Welcome!
          //- a.sign-out(href='/keystone/signout') Sign Out
          p BIG NEWS! Employers that offer our core products can now get one of our new value added benefits, 
            strong compliments of Aflac, for all their employees. 
            span Plus, employers can choose as many other benefits from our suite of new paid-for benefits for 
            strong all their employees, regardless of whether employees enroll in other Aflac products, 
            span at our group rates.  
          img(src='../images/lady-with-globe.png')        
      .strip
        button.btn-primary(type="submit", style='margin-left: 1rem') Get Started Now!
