extends ../layouts/default

block content
  .wrapper.radio-checkbox-list.free-benefits-selection
    .content-head
      span#employerName.above-title #{data.employer.name}
      h1 Thank you!
      p.sub-heading Your Aflac agent will follow up with to make sure you get the best of chosen products as soon as possible.
      .dialog

      p
        input#surveyUrl(value=`${data.surveyUrl}`)
