extends ../layouts/default

block content
  .wrapper
    .primary-content
      span#employerName.above-title #{data.employer.name}
      h1 Thank you!
      p.sub-heading(style='margin-bottom:0;') We have received your benefits choice! Your Aflac representative will keep in touch to guide you with further steps.
      if user.type == 'AGENT'
        div(style='padding: 3rem 0 4rem;')
          button.btn-primary(onclick="javascript:window.location.href='/agent-dashboard'") Return to Dashboard
      if user.type == 'EMPLOYER'
        div(style='padding: 3rem 0 4rem;')
          button.btn-primary(onclick="javascript:window.location.href='/employer-home'") Return to Home
        img.share(src="/images/share.png")
        .card.blue
          h2 Share with Employees!
          p.sub-heading If you want to make a more informed decision, share the link below with your Employees to let them vote for the benefits they like most.
          input#surveyUrl.inline-edit(type='text', style="font-size: 1.8rem; margin-bottom: 1.5rem;", value=`${data.surveyUrl}`)
          p.sub-heading(style='margin-bottom:0') Simply log on again to this space to see their voting results.
        
      
      
      .dialog

      
