extends ../layouts/default

block content
  .content-head.with-bg
    .collage-form-container
      .copy-container.employees
        h1 Now all your employees get Aflac benefits at our group rates and you can choose one free
        p Introducing a new family of Aflac benefits
        ul(style="padding-bottom: 3rem;")
          li Career Counseling
          li Ethical and financially sound
          li No cost to your company
      img.employees(src='images/employees.png')
  .wrapper.agent-dashboard
    .primary-content
      h2 Offer Aflac Benefits
        strong to ALL your employees
      form#startEmployee.input-and-button-container(action='new-employer', method='GET', novalidate='novalidate')
        label.hidden(for='username') Agent ID
        input#employerName(type="text", name='employerName', required='required', data-msg-required='Please enter employer name', minlength="2", placeholder="Your Company Name")
        button#primaryBtn.icon-right-open(type='submit', onclick='$("#startEmployee").validate();') Start

      if ranking in data.preferredBenefitsRanking
        hr(style='clear:both')  
        .table-container
          table.table-minimal
            caption Employee Preferences Result
            thead
              tr
                th Rank
                th Benefit
                th Votes
            tbody
              each benefit, ranking in data.preferredBenefitsRanking
                tr.modalOpner(href='products/' + benefit.slug, name=`${benefit.title}`)
                  td #{ranking + 1}
                  td #{benefit.title}
                  td #{benefit.votes}
  .dialog
