extends ../layouts/default

block content
  form#new-employer.wrapper(action='new-employer', method='POST', novalidate='novalidate')
      .primary-content
        .content-head
          h1
            input#employerName.inline-edit(type="text", name='employerName', value=`${locals.data.employer.name}`, required='required', data-msg-required='Employer name', data-msg='Please enter a valid name', minlength="2", placeholder="New employer name")
            a.icon-pencil#editEmployerName(href='javascript:void(0)')
        .card-gray
          .question
            label Number of employees
            input#numberOfEmployees(type='number', name='numberOfEmployees', required='required', data-msg='Number of employees')
          .question
            label Estimated average age of Employees?
            input#everageAgeOfEmployees(type='number', name='everageAgeOfEmployees', required='required', data-msg='Everage age of employees')
          .question
            label(for='majorMedical') Do you offer your employees a Major Medical insurance plan?
            label.control.control--radio
              input#majorMedicalRadioYes.radio(type='radio', name='majorMedicalRadio', value='Yes', required='required', data-msg='Choose Yes or No', onclick="$('#majorMedicalYesContainer').show()")
              .control__indicator
              |  Yes
            label.control.control--radio
              input#majorMedicalRadioNo.radio(type='radio', name='majorMedicalRadio', value='No', onclick="$('#majorMedicalYesContainer').hide()")
              .control__indicator
              |  No
            label.error(for='majorMedicalRadio')

            .sub-question#majorMedicalYesContainer(style='display: none;')
              .select-wrapper
                label.hidden(for='majorMedicalPlanName') Select name of Major Medical insurance plan
                select#majorMedicalPlanName(name='majorMedicalPlanName', required='required')
                  option(value='none') Select your Major Medical name
                  for medicalPlan in data.medicalPlans
                    option #{medicalPlan}

              .question-tip#majorMedicalTip.icon-lightbulb(style="display: none;") We have a variety of new benefits to offer that your major medical does not cover.
        .form-footer
          span.primary-actions
            button#primaryBtn.icon-right-open(type='submit', onclick='$("#new-employer").validate();') Next
          span.secondary-actions.link-btn
            a(href="/agent-home") Cancel
  .dialog
