#tipContent
  hr.head
  p.left !{data.tip.subtitle}
  p !{data.tip.details}
.form-footer
    span.primary-actions
      button.btn-secondary.modalOpner(href='tips/', name='Tip of the day') Next Tip
    span.secondary-actions
      button.btn-secondary Previous Tip
