extends ../layouts/default

block content
  .wrapper
    .content-head
      //- span#employerName.above-title #{data.employer.name}
      h1 Thank you!
      p.sub-heading We appreciate your support in helping us make the right decision.
      .dialog
block js
  script.
    $("img.feedbackButton").hide();
