extends ../layouts/default

block content
  .wrapper
    .content-head
      span#employerName.above-title COMPANY NAME
      h1 Thank you!
      p.sub-heading We appriciate your support in helping us make the right decision.
      .dialog
