.agent-verify {
  text-align: center;
  label.error {
    left: 22%;
  }
  .icon-right-open {
    position: relative;
    left: -5px;
  }
  .login-title {
    padding: $base-spacing 0 $small-spacing;
  }
}

.login-title {
  font-size: 2.2rem;
  font-family: $thin-font-family;
  padding: $small-spacing 0 $small-spacing/2;
  @include media($above-small) {
    font-size: 3.2rem;
  }
}


.form-container {
  text-align: center;
}
