.agent-questions {
  h1 {
    margin-bottom: $small-spacing;
  }
}

.agent-dashboard {
  .table-minimal {
    th {
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
  }
  .products-container {
    @include outer-container;
    padding: $small-spacing 0 0;
    .item {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: $small-spacing;
      padding: 0 $small-spacing;
      cursor: pointer;
      &:hover {
        strong {
          text-decoration: underline;
        }
      }
      strong {
        display: block;
        color: $blue;
        margin-bottom: 0.5rem;
      }
      @include media($small) {
          @include span-columns(6);
          @include omega();
      }
      @include media($mid) {
          @include span-columns(4);
          @include omega();
      }
      @include media($wide) {
          @include span-columns(4);
          @include omega();
      }
    }
    .icon-benefit {
      margin-top: $small-spacing;
    }
  }
}
