.agent-questions {
  h1 {
    margin-bottom: $small-spacing;
  }
}

.agent-dashboard {  
  .table-minimal {
    th {
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
  }
}
