.ui-dialog {
  position: fixed !important;
  width: 100% !important;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  padding-top: $base-spacing;
  overflow-y: scroll;
  .ui-dialog-titlebar,
  .ui-dialog-content {
    background-color: $lightest-gray;
    left: 10%;
    padding: 0 $base-spacing;
    margin: 0 $base-spacing;
    @include media($above-mid) {
      padding: 0 $base-spacing*8;
    }
  }
  .ui-dialog-content {
    padding-bottom: $base-spacing;
  }
  .ui-dialog-titlebar {
    min-height: 2.5rem;
    .ui-dialog-title {
        font-family: $bold-font-family;
        text-align: center;
        display: block;
        font-size: 3rem;
        padding: $small-spacing 0;
    }

  }
  .ui-dialog-titlebar-close {
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    right: 2rem;
    padding: 0;
    min-width: 0;
    min-height: 0;
    background: transparent;
    color: darken($medium-gray, 30%);
    @extend .icon-cancel;
    @include media($above-small) {
      top: 3.8rem;
      right: 4rem;
      font-size: 4rem;
    }
  }
  .ui-button-text {
    display: none;
  }
  hr.head {
    margin: -1rem 20% 3rem 20%;
    border-bottom: 2px dotted darken($lightest-gray, 10%);
  }
  ul {
    margin-bottom: $base-spacing;
    li {
      margin-bottom: $small-spacing/2;
    }
  }
  .product-redlines {
    margin-bottom: $base-spacing;
  }
  hr.content {
    margin: $small-spacing 0;
    border-bottom: 2px dotted darken($lightest-gray, 10%);
  }
  p {
    font-family: $semiBold-font-family;
  }
  h3 {
    width: 100%;
    font-size: 1.8rem;
    font-family: $semiBold-font-family;
    margin: 0 auto $base-spacing auto;
    text-align: center;
    padding: $small-spacing 0 0;
    border-top: 2px dotted darken($lightest-gray, 10%);
    @include media($above-small) {
      width: 80%;
      font-size: 2rem;
    }
  }
  h4 {
    margin-bottom: $small-spacing/2;
  }
  textarea {
    width: 100%;
  }
}
