.radio-checkbox-list {
  color: black;
  .control__indicator,
  input[type='radio'],
  input[type='checkbox'], {
    top: 40%;
    left: 1.8rem;
    @include media($above-small) {
      left: $base-spacing;
    }
  }
  .icon-benefit {
    position: absolute;
    top: 32%;
    left: 2.8rem;
    @include media($small) {
      display: none;
    }
  }
  .control {
    display: block;
    margin-right: 0;
    position: relative;
    margin-top: 0;
    min-height: 1.8rem;
    font-size: 1.6rem;
    font-family: $base-font-family;
    padding: $small-spacing $base-spacing $small-spacing/2 $small-spacing;
    @include media($above-small) {
      font-size: 1.8rem;
      padding: $base-spacing $base-spacing $base-spacing/2 $base-spacing*4;
    }
    &.checked {
      border-color: $blue !important;
      background-color: lighten($blue, 52%);
      .ball {
        background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%);
      }
      &:hover {
        background-color: lighten($blue, 52%);
        .ball {
          background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%);
        }
      }
    }
    &:hover {
      background-color: $lightest-gray;
      .ball {
        background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%);
      }
    }
    .h4 {
        color: $dark-gray;
        font-size: 2.4rem;
        font-family: $semiBold-font-family;
    }
    .price {
      position: relative;
      left: 1rem;
      color: orange;
      font-size: 2.2rem;
      font-family: $bold-font-family;
      @extend %dollar-sign;
    }
    .pemth {
      color: orange;
      font-size: 2rem;
      font-family: $thin-font-family;
      margin-left: 1.5rem;
    }
    p {
      margin-left: $small-spacing;
    }
    .productDesc,
    .bullet {
      display: block;
    }
    .productDesc {
      padding: 0.8rem 0 $small-spacing 0;

    }
    .bullet {
      padding: 0 0 $small-spacing/2 $small-spacing/2;
    }
    strong {
    }
    .see-more {
      position: relative;
      display: inline;
      left: $small-spacing;
  		@extend .icon-dot-3;
  		&:before {
  			position: absolute;
        width: 3rem;
        height: 3rem;
        padding-left: 2px;
  			font-family: "fontello";
        font-size: 2.5rem;
  		}
    }
  }
  .contain .control {
    border-width: 2px;
    border-style: solid;
    border-color: $lightest-gray $lightest-gray white;
    &:hover {
      border-bottom-color: $lightest-gray;
    }
    &:last-child {
      border-bottom-color: $lightest-gray;
    }
  }
  hr {
    margin: 0;
  }
  .error {
    left: $base-spacing*4;
  }
}
.free-benefits-selection {
  .free {
    font-family: $bold-font-family;
    font-size: 2rem;
    padding-left: $small-spacing/2;
    color: orange;
  }
}

.pemth {
  font-family: $thin-font-family;
  display: inline-block;
  margin-left: $small-spacing/3;
}
