@charset "UTF-8";
/* Vendor Dependencies */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Authored Dependencies */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ProximaNovaThin';
  src: url(fonts/proximaNova/proxima_nova_thin.ttf); }

@font-face {
  font-family: 'proximaNovaLight';
  src: url(fonts/proximaNova/proxima_nova_light.ttf); }

@font-face {
  font-family: 'proximaNovaRegular';
  src: url(fonts/proximaNova/proxima_nova_reg.ttf); }

@font-face {
  font-family: 'proximaNovaSbold';
  src: url(fonts/proximaNova/proxima_nova_sbold.ttf); }

@font-face {
  font-family: 'proximaNovaBold';
  src: url(fonts/proximaNova/proxima_nova_bold.ttf); }

.font-thin {
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif; }

.font-light {
  font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif; }

.font-semi-bold {
  font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif; }

.font-bold {
  font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }

/* Breakpoints */
/* responsive grid */
.form-footer .primary-actions,
.form-footer .secondary-actions, .card-blue .free-section,
.card-blue .vas-section {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 49.41745%; }
  .form-footer .primary-actions:last-child,
  .form-footer .secondary-actions:last-child, .card-blue .free-section:last-child,
  .card-blue .vas-section:last-child {
    margin-right: 0; }

/* Atoms */
body {
  color: #000;
  font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0; }
  @media screen and (min-width: 400px) {
    body {
      font-size: 1.8rem;
      line-height: 1.3; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif;
  font-size: 1.333em;
  line-height: 1.4;
  margin: 0 0 0.845em; }

p {
  margin: 0 0 0.845em;
  line-height: 1.5; }

strong {
  font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif; }
  strong.title {
    display: block;
    margin-bottom: 0.845em; }

a {
  color: #00a7e1;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #007da9; }

hr {
  border-bottom: 1px solid #A0AAAE;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.69em 0; }

.card-container {
  padding: 1.69em;
  background-color: white;
  color: #333333;
  font-size: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.69em; }

abbr,
.field-tip {
  font-size: 1.6rem;
  font-style: italic;
  border-bottom: 1px dotted #A0AAAE;
  cursor: help; }

.table-summary .price, .radio-checkbox-list .control .price {
  position: relative; }
  .table-summary .price:before, .radio-checkbox-list .control .price:before {
    content: '$'; }

h1 {
  position: relative;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.4225em;
  font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
  color: black; }
  h1 time {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #A0AAAE;
    font-size: 1.8rem;
    padding-left: 0.845em; }
  h1 .icon-pencil {
    position: absolute;
    right: 1.5rem;
    top: 1.7rem;
    font-size: 1.8rem;
    opacity: 0.5; }
  @media screen and (min-width: 1024px) {
    .agent-questions h1 {
      width: 74%; } }

h2 {
  font-size: 2.6rem;
  font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
  margin-bottom: 0.4225em;
  color: black; }

h3 {
  font-size: 1.7rem;
  margin-bottom: 0.845em; }

h4 {
  font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }

.sub-heading {
  font-size: 1.9rem; }
  .sub-heading .note {
    display: block;
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    padding-top: 0.845em;
    margin-bottom: 1.69em; }
  .sub-heading:last-child {
    margin-bottom: 1.69em; }
  @media screen and (min-width: 1024px) {
    .content-head .sub-heading {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .content-head .sub-heading:last-child {
        margin-right: 0; } }

input[type='text'], input[type='number'], input[type='tel'],
input[type='date'], input[type='password'], .file-upload,
input[type='tel'], input[type='email'], input[type='search'], textarea {
  border: 0;
  background: #F8F8F8;
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  color: black;
  padding: 0.845em;
  min-height: 4rem;
  font-size: 2rem;
  border-radius: 0;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2); }
  input[type='text']:hover, input[type='number']:hover, input[type='tel']:hover,
  input[type='date']:hover, input[type='password']:hover, .file-upload:hover,
  input[type='tel']:hover, input[type='email']:hover, input[type='search']:hover, textarea:hover {
    cursor: text; }
  input[type='text']:disabled, input[type='number']:disabled, input[type='tel']:disabled,
  input[type='date']:disabled, input[type='password']:disabled, .file-upload:disabled,
  input[type='tel']:disabled, input[type='email']:disabled, input[type='search']:disabled, textarea:disabled {
    background-color: #F8F8F8; }
  input[type='text'].inline-edit, input[type='number'].inline-edit, input[type='tel'].inline-edit,
  input[type='date'].inline-edit, input[type='password'].inline-edit, .file-upload.inline-edit,
  input[type='tel'].inline-edit, input[type='email'].inline-edit, input[type='search'].inline-edit, textarea.inline-edit {
    width: 100%;
    background-color: white;
    border-left: 3px solid #00a7e1;
    box-shadow: none;
    font-size: 2.9rem;
    font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
    padding: 0.4225em; }

@media screen and (max-width: 568px) {
  input[type='number'] {
    max-width: 15rem; } }

.file-upload {
  position: relative;
  padding: 1.69em 0 1.69em 5.915em;
  margin-bottom: 1.69em; }
  .file-upload .icon-upload {
    position: absolute;
    font-size: 3.5rem;
    top: 0.6rem;
    left: 2rem;
    color: #acacac; }
  .file-upload input {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    font-size: 1.4rem; }

input:focus {
  outline: none; }

.control--radio, .control--checkbox {
  position: relative;
  padding: 0; }
  .control--radio input, .control--checkbox input {
    position: absolute;
    top: 0;
    left: 0; }

input[type='text'], input[type='number'], input[type='tel'],
input[type='password'], input[type='file'],
input[type='tel'], input[type='email'], input[type='search'], textarea, .control--radio, .control--checkbox {
  -webkit-appearance: none; }

input[type=date] {
  height: 43px;
  margin: 0 auto;
  width: 300px;
  outline: none;
  border: 0;
  background-color: #fff;
  font-family: "proximaNovaLight", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  padding: 0.845em;
  min-width: 100%;
  min-height: 2rem;
  font-size: 1.4rem; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.control {
  cursor: pointer;
  margin-top: 0.4225em;
  padding-left: 4rem;
  margin-right: 1.69em; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .control em {
    display: inline-block;
    float: right;
    color: #a6afb3; }

.control--radio,
.control--checkbox {
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  display: inline-block; }

.control__indicator {
  position: absolute;
  top: -0.3rem;
  left: 0;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 4px solid #595959;
  background-color: white; }

.control:hover input ~ .control__indicator {
  border: 4px solid #000; }

.control:hover .control__indicator:before {
  color: #000; }

.control input:checked ~ .control__indicator {
  border: 4px solid #000; }

.control input:checked:focus ~ .control__indicator {
  background-color: white; }

.control input:disabled ~ .control__indicator {
  background-color: #CFD4D6;
  opacity: 0.6;
  pointer-events: none; }

.control--radio .control__indicator:after {
  left: 5px;
  top: 5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #000; }

.control--radio input:disabled ~ .control__indicator:after {
  background-color: #7b7b7b; }

.control--checkbox .control__indicator:before {
  content: '+';
  font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  position: absolute;
  left: 7px;
  top: -2px;
  color: #bcc3c5; }

.control--checkbox .control__indicator:after {
  left: 9px;
  top: 4px;
  width: 8px;
  height: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control__indicator:after {
  content: '';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:before {
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.feedback-form .feedback-label {
  padding-bottom: 1.5rem; }

.feedback-form .control {
  text-align: center;
  padding: 0;
  margin: 0 0.845em 0 0; }
  .feedback-form .control span {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: -1.7rem;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  .feedback-form .control:hover span {
    visibility: visible; }
  .feedback-form .control:hover input ~ .control__indicator {
    border: 0; }

.feedback-form .control__indicator {
  position: static;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  border: 0;
  background-image: url("../images/feedback-emotion-sprite.png");
  background-repeat: no-repeat;
  background-size: 20.4rem; }
  .feedback-form .control__indicator.like {
    background-position: -5.1rem 0; }
  .feedback-form .control__indicator.neutral {
    background-position: -10.2rem 0; }
  .feedback-form .control__indicator.dislike {
    background-position: -15.3rem 0; }
  .feedback-form .control__indicator:after {
    display: none !important; }

.feedback-form input:hover ~ .control__indicator,
.feedback-form input:focus ~ .control__indicator,
.feedback-form input:checked ~ .control__indicator {
  background-color: transparent;
  border: 0; }
  .feedback-form input:hover ~ .control__indicator span,
  .feedback-form input:focus ~ .control__indicator span,
  .feedback-form input:checked ~ .control__indicator span {
    visibility: visible; }

.select-wrapper {
  display: table;
  position: relative; }
  .select-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0, 0, 0, 0.54);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 2.3rem; }

select {
  font-size: 2rem;
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  padding: 0.75em 2.535em 0.75em 0.845em;
  border-color: #f8f8f8;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  transition: border-color 150ms ease;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0; }
  @media screen and (max-width: 568px) {
    select {
      max-width: 21.5rem; } }
  select:focus {
    border-color: #00a7e1;
    outline: none; }
  select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    select:disabled:hover {
      border: 1px solid #A0AAAE; }

button,
input[type=submit],
a.btn-link,
a.btn-link:active,
a.btn-link:visited {
  position: relative;
  padding: 0.4225em 0.845em;
  cursor: pointer;
  background-color: #00a7e1;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "proximaNovaLight", Helvetica, Arial, sans-serif;
  color: #fff;
  border: 0;
  margin-right: 0.4225em;
  text-transform: uppercase;
  outline: none;
  white-space: nowrap;
  min-height: 5.5rem; }
  @media screen and (min-width: 400px) {
    button,
    input[type=submit],
    a.btn-link,
    a.btn-link:active,
    a.btn-link:visited {
      padding: 0.845em 1.69em;
      min-height: 5.2rem; } }
  button:hover, button:focus,
  input[type=submit]:hover,
  input[type=submit]:focus,
  a.btn-link:hover,
  a.btn-link:focus,
  a.btn-link:active:hover,
  a.btn-link:active:focus,
  a.btn-link:visited:hover,
  a.btn-link:visited:focus {
    text-decoration: none;
    background-color: #0081ae; }
  button:active,
  input[type=submit]:active,
  a.btn-link:active,
  a.btn-link:active:active,
  a.btn-link:visited:active {
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4); }
  button:disabled,
  input[type=submit]:disabled,
  a.btn-link:disabled,
  a.btn-link:active:disabled,
  a.btn-link:visited:disabled {
    background-color: transparent;
    color: #A0AAAE;
    border: 1px solid #CFD4D6;
    cursor: not-allowed; }
    button:disabled [class*="icono-"],
    input[type=submit]:disabled [class*="icono-"],
    a.btn-link:disabled [class*="icono-"],
    a.btn-link:active:disabled [class*="icono-"],
    a.btn-link:visited:disabled [class*="icono-"] {
      color: #A0AAAE; }
  button:last-of-type,
  input[type=submit]:last-of-type,
  a.btn-link:last-of-type,
  a.btn-link:active:last-of-type,
  a.btn-link:visited:last-of-type {
    margin-right: 0; }
  button[hidden],
  input[type=submit][hidden],
  a.btn-link[hidden],
  a.btn-link:active[hidden],
  a.btn-link:visited[hidden] {
    display: none !important; }

.btn-secondary {
  background-color: #F8F8F8;
  color: #00a7e1; }
  .btn-secondary:hover, .btn-secondary:focus {
    text-decoration: none;
    background-color: #dfdfdf; }
  .btn-secondary.icon-left-open {
    padding-left: 2.5em !important; }
    .btn-secondary.icon-left-open:before {
      position: absolute;
      right: auto;
      left: 1.1em;
      top: .9em; }

.btn-danger {
  background-color: #db1414;
  border-color: #db1414; }

@media screen and (max-width: 568px) {
  .primary-actions .icon-right-open:before {
    display: none !important; } }

@media screen and (min-width: 400px) {
  .icon-right-open {
    padding-right: 2.3em !important; }
    .icon-right-open:before {
      position: absolute;
      right: 1.4em;
      top: 1.13em;
      font-size: 1.7rem; } }

a {
  color: #00a7e1;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline;
    color: #00C2EF; }
  a.external {
    position: relative;
    margin-right: 0.845em; }
    a.external:after {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      position: absolute;
      right: -11px;
      top: 3px;
      background: url("http://www.aflac.com/_global-assets/images/sprites/footer/sprites-s89a37d4bd6.png") 0 -504px no-repeat; }

/* items class */
ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    line-height: 1.5; }

dl {
  margin: 0 0 1.69em 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

ul {
  list-style-type: initial;
  margin-left: 3rem; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

.check-list, .card-blue .free-section ul,
.card-blue .vas-section ul {
  list-style: none; }
  .check-list li, .card-blue .free-section ul li,
  .card-blue .vas-section ul li {
    position: relative; }
    .check-list li:before, .card-blue .free-section ul li:before,
    .card-blue .vas-section ul li:before {
      position: absolute;
      font-family: "fontello";
      left: -2rem; }

.graphis-list {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 1.9rem;
  list-style: none;
  text-align: center;
  margin-left: 0; }
  .graphis-list::after {
    clear: both;
    content: "";
    display: table; }
  .graphis-list .item {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 100%;
    margin-bottom: 1.69em;
    text-transform: uppercase; }
    .graphis-list .item:last-child {
      margin-right: 0; }
    @media screen and (min-width: 569px) {
      .graphis-list .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .graphis-list .item:last-child {
          margin-right: 0; } }
    .graphis-list .item.robust-list {
      margin-bottom: 5rem; }
    .graphis-list .item img {
      display: block;
      max-width: 6.8rem !important;
      margin: 0 auto;
      margin-bottom: 1rem; }
  .graphis-list.light-content {
    margin: 3.38em 0 1.69em; }
  .graphis-list .blue {
    color: #00a7e1; }
  .graphis-list .blue,
  .graphis-list .reg {
    display: block;
    font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif; }
  .graphis-list .small {
    font-size: 1.3rem; }

.question-answer-list {
  background-color: white;
  color: #333333;
  font-size: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .question-answer-list dt {
    padding: 0.845em 0.845em 0 0.845em; }
  .question-answer-list dd {
    padding: 0.21125em 0.845em 0.845em 0.845em;
    color: black;
    border-bottom: 1px solid #F8F8F8;
    font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif; }
    .question-answer-list dd em {
      display: block; }

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.spinner-container {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 10px; }

.spinner:before,
.spinner:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%; }

.spinner:before {
  left: 0;
  background-color: #00a7e1;
  animation: spinner-left 1s infinite linear; }

.spinner:after {
  right: 0;
  background-color: #8DC058;
  animation: spinner-right 1s infinite linear; }

/* left ball */
@keyframes spinner-left {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(8px, 0); }
  50% {
    transform: translate(4px, -4px); }
  75% {
    transform: translate(8px, 0); }
  100% {
    transform: translate(0, 0); } }

/* right ball */
@keyframes spinner-right {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(-8px, 0); }
  50% {
    transform: translate(-4px, 4px); }
  75% {
    transform: translate(-8px, 0); }
  100% {
    transform: translate(0, 0); } }

/* Hover tooltips */
.field-tip {
  position: relative;
  cursor: help;
  z-index: 1; }

.field-tip .tip-content {
  position: absolute;
  top: -10px;
  /* - top padding */
  right: 9999px;
  width: 200px;
  margin-right: -220px;
  /* width + left/right padding */
  padding: 10px;
  color: #fff;
  background: #333;
  font-size: 1.4rem;
  text-align: left;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out; }

.field-tip .tip-content:before {
  content: ' ';
  /* Must have content to display */
  position: absolute;
  top: 50%;
  left: -16px;
  /* 2 x border width */
  width: 0;
  height: 0;
  margin-top: -8px;
  /* - border width */
  border: 8px solid transparent;
  border-right-color: #333; }

.field-tip:hover .tip-content {
  right: -20px;
  opacity: 1; }

/* Molecules */
.table-container {
  background-color: white;
  margin-bottom: 1.69em;
  max-height: 40rem;
  overflow-y: scroll; }

.table-minimal {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
  background-color: white; }
  .table-minimal caption {
    font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
    text-align: left;
    color: black;
    margin: 0.845em 0 0.28167em;
    font-size: 2.6rem; }
  .table-minimal thead th,
  .table-minimal thead td {
    border-bottom: 0;
    padding: 0.845em 0.845em 0.4225em;
    text-align: left;
    font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif;
    color: #9B9B9B; }
  .table-minimal thead th:first-of-type {
    padding-left: 0; }
  .table-minimal tbody tr:hover > td, .table-minimal tbody tr:hover > th {
    background-color: white; }
  .table-minimal tbody tr:first-child td,
  .table-minimal tbody tr:first-child th {
    border-top-color: transparent; }
  .table-minimal tbody th {
    text-decoration: underline;
    cursor: pointer;
    font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif; }
    .table-minimal tbody th:first-of-type {
      padding-left: 0; }
  .table-minimal tbody th,
  .table-minimal tbody td {
    border-bottom: 0;
    border-top: 1px dashed #dfdfdf;
    vertical-align: middle; }
  .table-minimal tbody td {
    padding: 1.69em 1rem; }
    .table-minimal tbody td button {
      display: inline-block;
      outline: none;
      padding: 0.3em 1em; }
    .table-minimal tbody td:first-of-type {
      padding-left: 0; }
  .table-minimal .btn-link {
    font-weight: normal;
    margin-left: 0.845em; }
  .table-minimal.benefits tbody td {
    white-space: nowrap; }

.form-table {
  counter-reset: rowNumber; }
  .form-table th {
    text-align: left;
    color: black; }
  .form-table tbody tr {
    counter-increment: rowNumber; }
  .form-table tbody td {
    position: relative; }
    .form-table tbody td:first-child:before {
      content: counter(rowNumber);
      min-width: 1em;
      margin-right: 0.5em;
      position: absolute;
      left: -10px;
      top: 4px; }
  .form-table input[type='text'] {
    min-width: 0; }

td.dot {
  vertical-align: middle;
  text-align: center; }
  td.dot span {
    display: inline-block;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #A0AAAE; }
  td.dot.yes span {
    background-color: #00a7e1; }

.votes {
  margin: 0 1.69em;
  min-width: 0; }
  .votes thead th {
    text-align: left !important; }
  @media screen and (min-width: 400px) {
    .votes {
      margin: 0 10%;
      min-width: 80%; } }

.table-summary {
  background-color: transparent;
  padding: 0 0.4225em;
  margin-bottom: 3.38em; }
  @media screen and (max-width: 568px) {
    .table-summary {
      padding: 0; } }
  .table-summary .icon-benefit {
    top: -1rem !important;
    left: -1.5rem !important;
    transform: scale(0.6); }
  .table-summary thead th, .table-summary thead td {
    position: relative;
    padding: 0; }
  .table-summary thead td {
    color: black; }
  .table-summary thead tr:last-of-type th {
    padding-bottom: 0.845em; }
  .table-summary thead th {
    font-family: "proximaNovaLight", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 2.6rem;
    padding: 0.4225em 1.8rem 2rem 6rem; }
    .table-summary thead th:first-of-type {
      padding-left: 6rem; }
    @media screen and (max-width: 568px) {
      .table-summary thead th {
        font-size: 2rem;
        padding-left: 0; }
        .table-summary thead th:first-of-type {
          padding-left: 0; } }
  .table-summary thead .title {
    font-size: 1.6rem; }
  .table-summary tbody tr:last-of-type th, .table-summary tbody tr:last-of-type td {
    border-bottom: 1px solid #dfdfdf; }
  .table-summary tbody th, .table-summary tbody td {
    position: relative;
    border-style: solid;
    padding-right: 0; }
    .table-summary tbody th:first-of-type, .table-summary tbody td:first-of-type {
      padding-left: 0;
      border-top: 1px solid #dfdfdf !important; }
  .table-summary tbody th {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    text-align: left;
    color: #9B9B9B;
    text-decoration: none; }
  .table-summary tbody td {
    text-align: right; }
  .table-summary .title {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    padding-top: 0.845em; }
  .table-summary .free {
    color: orange; }
  .table-summary .free,
  .table-summary .price,
  .table-summary #numberOfEmployees {
    font-size: 2.2rem;
    font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
    text-align: right; }
  .table-summary .grey,
  .table-summary #numberOfEmployees {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif; }
  .table-summary .price {
    text-align: right; }
  .table-summary .grey {
    display: inline-block;
    color: #9B9B9B;
    padding: 0 0.4225em; }
  .table-summary .total {
    padding-left: 0.845em; }

.input-and-button-container {
  position: relative; }
  .input-and-button-container span {
    display: none; }
  @media screen and (min-width: 400px) {
    .input-and-button-container {
      display: block; }
      .input-and-button-container span {
        display: inline-block; } }
  .input-and-button-container input,
  .input-and-button-container button {
    display: inline-block; }
  @media screen and (max-width: 568px) {
    .input-and-button-container button:before {
      display: none; } }

.flash {
  padding: 2.3rem 0; }
  .flash .wrap {
    position: relative; }
  .flash.success {
    background-color: #f2f8ec; }
  .flash.alert {
    background-color: #ffffeb; }
  .flash.warning {
    background-color: #f9c2c2; }
  .flash a {
    color: #c1c1c1;
    font-size: 1.6rem;
    margin-right: 0.845em;
    text-decoration: underline; }
    @media screen and (min-width: 400px) {
      .flash a {
        margin-right: 1.69em; }
        .flash a:first-child {
          margin-left: 1.69em; } }
  .flash p,
  .flash .link-options {
    display: inline-block;
    margin-bottom: 0; }
  .flash .icon-cancel {
    position: absolute;
    right: 2rem;
    top: -7px;
    font-size: 3rem;
    color: silver;
    cursor: pointer; }

.ui-dialog {
  position: fixed !important;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 1.69em;
  overflow-y: scroll; }
  .ui-dialog .ui-dialog-titlebar,
  .ui-dialog .ui-dialog-content {
    background-color: white;
    left: 10%;
    padding: 0 1.69em;
    margin: 0 1.69em; }
    @media screen and (min-width: 1024px) {
      .ui-dialog .ui-dialog-titlebar,
      .ui-dialog .ui-dialog-content {
        margin: 0 13.52em; } }
    .ui-dialog .ui-dialog-titlebar img,
    .ui-dialog .ui-dialog-content img {
      max-width: 100%; }
  .ui-dialog .ui-dialog-content {
    padding-bottom: 1.69em; }
  .ui-dialog strong {
    display: inline-block;
    padding: 0 1rem; }
    .ui-dialog strong.title {
      font-size: 1.333em;
      font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }
  .ui-dialog .ui-dialog-titlebar {
    min-height: 2.5rem; }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
      font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
      display: block;
      font-size: 3.4rem;
      padding: 0.845em 0; }
  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    font-size: 3rem;
    top: 3rem;
    right: 3rem;
    padding: 0;
    min-width: 0;
    min-height: 0;
    background: transparent; }
    .ui-dialog .ui-dialog-titlebar-close:after {
      content: 'X';
      color: silver; }
    .ui-dialog .ui-dialog-titlebar-close:hover:after {
      color: white; }
    @media screen and (min-width: 400px) {
      .ui-dialog .ui-dialog-titlebar-close {
        top: 0.5rem;
        right: 0.5rem; } }
    @media screen and (min-width: 1024px) {
      .ui-dialog .ui-dialog-titlebar-close {
        top: 2rem;
        right: 2rem; } }
  .ui-dialog .ui-button-text {
    display: none; }
  .ui-dialog hr.head {
    margin: -1rem 0 3rem;
    border-bottom: 2px dotted #dfdfdf; }
  .ui-dialog .check-list, .ui-dialog .card-blue .free-section ul, .card-blue .free-section .ui-dialog ul, .ui-dialog
  .card-blue .vas-section ul,
  .card-blue .vas-section .ui-dialog ul {
    padding-left: 0.6rem; }
  .ui-dialog ul {
    margin-bottom: 1.69em; }
    .ui-dialog ul li {
      margin-bottom: 0.845em; }
  .ui-dialog .product-redlines {
    margin-bottom: 1.69em; }
  .ui-dialog hr.content {
    margin: 0.845em 0;
    border-bottom: 2px dotted #dfdfdf; }
  .ui-dialog h3 {
    width: 100%;
    font-size: 1.8rem;
    font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif;
    margin: 0 auto 1.69em auto;
    text-align: center;
    padding: 0.845em 0 0;
    border-top: 2px dotted #dfdfdf; }
    @media screen and (min-width: 400px) {
      .ui-dialog h3 {
        width: 80%;
        font-size: 2rem; } }
  .ui-dialog h4 {
    margin-bottom: 0.4225em; }
  .ui-dialog textarea {
    width: 100%; }

.radio-checkbox-list {
  color: black; }
  .radio-checkbox-list .control__indicator,
  .radio-checkbox-list input[type='radio'],
  .radio-checkbox-list input[type='checkbox'] {
    top: 40%;
    left: 1.8rem; }
    @media screen and (min-width: 400px) {
      .radio-checkbox-list .control__indicator,
      .radio-checkbox-list input[type='radio'],
      .radio-checkbox-list input[type='checkbox'] {
        left: 1.69em; } }
  .radio-checkbox-list .icon-benefit {
    position: absolute;
    top: 32%;
    left: 2.8rem; }
    @media screen and (max-width: 568px) {
      .radio-checkbox-list .icon-benefit {
        display: none; } }
  .radio-checkbox-list .control {
    display: block;
    margin-right: 0;
    position: relative;
    margin-top: 0;
    min-height: 1.8rem;
    font-size: 1.6rem;
    font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif;
    padding: 0.845em 1.69em 0.4225em 0.845em; }
    @media screen and (min-width: 400px) {
      .radio-checkbox-list .control {
        font-size: 1.8rem;
        padding: 1.69em 1.69em 0.845em 6.76em; } }
    .radio-checkbox-list .control.checked {
      border-color: #00a7e1 !important;
      background-color: #ebfaff; }
      .radio-checkbox-list .control.checked .ball {
        background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%); }
      .radio-checkbox-list .control.checked:hover {
        background-color: #ebfaff; }
        .radio-checkbox-list .control.checked:hover .ball {
          background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%); }
    .radio-checkbox-list .control:hover {
      background-color: #F8F8F8; }
      .radio-checkbox-list .control:hover .ball {
        background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%); }
    .radio-checkbox-list .control .h4 {
      color: black;
      font-size: 2.4rem;
      font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }
    .radio-checkbox-list .control .price {
      position: relative;
      left: 1rem;
      color: orange;
      font-size: 2.2rem;
      font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }
    .radio-checkbox-list .control .pemth {
      color: orange;
      font-size: 2rem;
      font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
      margin-left: 1.5rem; }
    .radio-checkbox-list .control p {
      margin-left: 0.845em; }
    .radio-checkbox-list .control .productDesc,
    .radio-checkbox-list .control .bullet {
      display: block; }
    .radio-checkbox-list .control .productDesc {
      padding: 0.8rem 0 0.845em 0; }
    .radio-checkbox-list .control .bullet {
      padding: 0 0 0.4225em 0;
      font-size: 1.6rem; }
    .radio-checkbox-list .control .see-more {
      position: relative;
      display: inline;
      top: -0.1rem;
      left: 0.3rem; }
      .radio-checkbox-list .control .see-more:before {
        position: absolute;
        width: 3rem;
        height: 3rem;
        padding-left: 2px;
        font-family: "fontello";
        font-size: 2.5rem; }
  .radio-checkbox-list .contain .control {
    border-width: 2px;
    border-style: solid;
    border-color: #F8F8F8 #F8F8F8 white; }
    .radio-checkbox-list .contain .control:hover {
      border-bottom-color: #F8F8F8; }
    .radio-checkbox-list .contain .control:last-child {
      border-bottom-color: #F8F8F8; }
  .radio-checkbox-list hr {
    margin: 0; }
  .radio-checkbox-list .error {
    left: 6.76em; }
  .radio-checkbox-list.engagement-choice .control {
    padding-left: 3.38em; }
    @media screen and (min-width: 400px) {
      .radio-checkbox-list.engagement-choice .control {
        padding-left: 5.07em; } }

.free-benefits-selection .free {
  font-family: "proximaNovaBold", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin-left: 0.4225em;
  color: orange; }

.pemth {
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-left: 0.28167em; }

/* Organisms */
.header-container {
  z-index: 4;
  overflow: hidden; }
  .header-container .wrap {
    position: relative; }
  .header-container .icon-menu {
    float: left;
    font-size: 2.5rem;
    padding: 6px 14px;
    color: #666666; }
    .header-container .icon-menu.active {
      background-color: #000;
      color: white; }

.aflac-logo {
  width: 25rem;
  height: 5.2rem;
  background: transparent url("../images/logo.png") no-repeat 0 0;
  background-size: 24rem;
  text-indent: -119988px;
  margin: 0.845em auto 0.4225em auto; }
  @media screen and (min-width: 400px) {
    .aflac-logo {
      position: absolute;
      top: 2rem;
      left: 13px;
      margin: 0; } }
  .agent-verify .aflac-logo,
  .agent-welcome .aflac-logo {
    position: static;
    background-size: 120px 684px;
    margin: 1.69em auto 0 auto; }

.global-nav {
  text-align: center;
  margin-bottom: 0.845em;
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif; }
  @media screen and (min-width: 400px) {
    .global-nav {
      float: right;
      text-align: right;
      width: 80%;
      padding: 1.69em 0;
      margin-bottom: 0; } }
  .global-nav ul {
    display: inline-block;
    font-size: 1.6rem;
    text-align: right;
    margin-left: 0; }
  .global-nav li {
    display: inline-block;
    padding: 0 0.845em; }
  .global-nav a {
    color: #9B9B9B; }

fieldset {
  display: inline-block;
  border-top: 1px dashed #dfdfdf;
  margin: 0 0 1.69em;
  padding: 0.845em 0 0;
  border-radius: 1px;
  min-width: 100%; }
  fieldset .question {
    margin-bottom: 1.69em; }
    fieldset .question:last-of-type {
      margin-bottom: 0.845em; }

.question {
  position: relative;
  display: block;
  margin-bottom: 1.69em; }
  .question .hint {
    padding-top: .75em;
    display: block; }
  .question .icon-info-circled {
    font-size: 1.8rem;
    position: relative;
    left: 1rem;
    color: #aeb6ba; }

.sub-question {
  clear: both;
  border-left: 4px solid #CFD4D6;
  padding: 0.4225em 0 0.4225em 0.845em;
  margin: 1.69em 0 0.845em 0.845em; }

.form-footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-bottom: 0.845em;
  margin-top: 1.69em; }
  .form-footer::after {
    clear: both;
    content: "";
    display: table; }
  .form-footer:last-of-type {
    margin-bottom: 0; }
  .form-footer .primary-actions,
  .form-footer .secondary-actions {
    display: block;
    margin-right: 0; }
    .form-footer .primary-actions .link-btn,
    .form-footer .primary-actions a,
    .form-footer .secondary-actions .link-btn,
    .form-footer .secondary-actions a {
      display: inline-block;
      padding-right: 0.845em;
      margin-top: 0.845em; }
  .form-footer .primary-actions {
    text-align: right;
    float: right; }
  .ui-dialog .form-footer {
    padding: 0.845em 0 0;
    margin-top: 1.69em;
    border-top: 2px dotted #dfdfdf; }
  @media screen and (min-width: 1024px) {
    .form-footer {
      padding-right: 28.8rem; } }

legend {
  font-weight: "proximaNovaRegular", Helvetica, Arial, sans-serif;
  margin-bottom: 0.4225em;
  padding: 0; }

label {
  font-family: "proximaNovaSbold", Helvetica, Arial, sans-serif;
  display: block;
  color: #1a1a1a;
  padding-bottom: 0.4225em; }
  label.error {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: #db1414;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -3.5rem; }
  label > span {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding-left: 0.845em; }

form label.error {
  display: none; }

input,
select,
textarea {
  display: block; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.4225em; }

#feedback textarea {
  width: 100%;
  min-height: 15rem; }
  @media screen and (min-width: 400px) {
    #feedback textarea {
      width: 80%; } }

.question-tip {
  position: relative;
  padding: 0.4225em 0 0 4rem;
  font-family: "proximaNovaLight", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin-top: 0.845em;
  color: #595959; }
  .question-tip:before {
    position: absolute;
    font-size: 4rem;
    left: -.4rem;
    top: 0.4rem;
    color: orange; }
  @media screen and (min-width: 400px) {
    .question-tip {
      width: 45%; } }

.footer-content {
  border-top: 5px solid #F8F8F8;
  margin-top: 1.69em !important;
  padding: 0.845em 1.69em 1.69em !important;
  font-size: 1.2rem; }
  .footer-content .copyright {
    float: left;
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #A0AAAE; }

.footer-nav {
  float: right;
  list-style: none;
  margin-left: 0;
  font-family: "proximaNovaRegular", Helvetica, Arial, sans-serif; }
  .footer-nav li {
    display: inline-block;
    margin-left: 0.845em; }

/* Templates */
.collage, .content-head.with-collage, .no-header .collage-with-feather {
  position: relative;
  background: transparent url("../images/collage.png") 0 0;
  background-size: 28rem; }
  .collage:after, .content-head.with-collage:after, .no-header .collage-with-feather:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.48) 69%, rgba(0, 0, 0, 0.48) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.48) 69%, rgba(0, 0, 0, 0.48) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.wrapper,
.flash .wrap,
.header-container .wrap,
.footer-content,
.collage-form-container {
  margin: 0 auto;
  padding: 0 0.845em; }
  @media screen and (min-width: 1024px) {
    .wrapper,
    .flash .wrap,
    .header-container .wrap,
    .footer-content,
    .collage-form-container {
      width: 80%; } }
  @media screen and (min-width: 1600px) {
    .wrapper,
    .flash .wrap,
    .header-container .wrap,
    .footer-content,
    .collage-form-container {
      width: 60%; } }

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.69em 0.845em 0.845em; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.content-head form {
  margin-bottom: 0 !important; }

.content-head .collage-form-container {
  position: relative;
  z-index: 1; }

.content-head .above-title {
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  position: absolute; }
  .content-head .above-title ~ h1 {
    padding-top: 2.5rem;
    margin-top: 0.845em;
    margin-bottom: 0.4225em; }

.content-head.with-collage {
  padding: 4.3rem 0;
  overflow: hidden; }
  .content-head.with-collage h1 {
    margin-bottom: 0; }
  .content-head.with-collage:after {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .content-head.with-collage .input-and-button-container {
    display: block;
    margin-bottom: 1.69em;
    border-left: 3px solid #00a7e1; }
    .content-head.with-collage .input-and-button-container input {
      width: 91%;
      font-size: 2.5rem;
      padding: 1.44rem;
      background-color: white; }
    .content-head.with-collage .input-and-button-container button {
      position: absolute;
      right: 0; }
  @media screen and (min-width: 1024px) {
    .content-head.with-collage .input-and-button-container,
    .content-head.with-collage h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .content-head.with-collage .input-and-button-container:last-child,
      .content-head.with-collage h1:last-child {
        margin-right: 0; } }

.content-head .collage-form-container {
  overflow: hidden; }

.content-head.with-bg {
  position: relative;
  background-color: #00a7e1;
  color: white; }
  .content-head.with-bg .copy-container {
    padding-top: 1.69em; }
  .content-head.with-bg h1 {
    margin-top: 0;
    color: white; }
  .content-head.with-bg p {
    margin-bottom: 0.845em; }
  .content-head.with-bg img {
    display: none; }
  .content-head.with-bg ul {
    font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
    line-height: 1.7; }
  @media screen and (min-width: 400px) {
    .content-head.with-bg .copy-container {
      padding: 1.69em 20rem 0.845em 2rem; }
      .content-head.with-bg .copy-container.employees {
        padding-right: 39%;
        padding-top: 3rem; }
    .content-head.with-bg img {
      display: block;
      position: absolute;
      right: 0; }
    .content-head.with-bg img.img-products {
      top: -3px;
      right: 0;
      max-width: 18rem; }
    .content-head.with-bg img.employees {
      max-width: 33rem;
      bottom: 0; } }
  @media screen and (min-width: 1024px) {
    .content-head.with-bg img.img-products {
      top: -5.2rem;
      right: 3rem; }
    .content-head.with-bg img.employees {
      max-width: 40rem; } }

@media screen and (min-width: 1024px) {
  .primary-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-bottom: 1.69em; }
    .primary-content:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1024px) {
  .secondary-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .secondary-content:last-child {
      margin-right: 0; } }

.card {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 1.69em; }
  .card::after {
    clear: both;
    content: "";
    display: table; }
  .radio-checkbox-list .card {
    padding: 0; }
  .card.border {
    border: 4px solid #00a7e1; }
  .card.blue {
    background-color: #ebfaff;
    border: 4px solid #00a7e1; }

.card-blue {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #FA9806;
  position: relative;
  padding: 1.69em;
  background-color: #fff9f1;
  color: #FA9806;
  margin-top: 1.69em; }
  .card-blue::after {
    clear: both;
    content: "";
    display: table; }
  .card-blue h2 {
    color: #FA9806; }
  .card-blue h4 {
    margin-bottom: 0.4225em;
    font-family: "proximaNovaBold", Helvetica, Arial, sans-serif; }
  .card-blue .free-section ul,
  .card-blue .vas-section ul {
    margin-left: 2.4rem; }
  .card-blue .free-section li,
  .card-blue .vas-section li {
    margin-bottom: 0.4225em; }
  @media screen and (min-width: 1024px) {
    .card-blue {
      padding: 0.845em 0.845em 1.69em;
      margin-top: 0; }
      .card-blue .free-section,
      .card-blue .vas-section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 1.69em; }
        .card-blue .free-section:last-child,
        .card-blue .vas-section:last-child {
          margin-right: 0; } }

.hidden {
  display: none !important; }

.feedbackButton {
  margin-top: -65px;
  position: fixed;
  width: 40px;
  height: 131px;
  z-index: 4;
  right: 0px;
  top: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s; }
  .feedbackButton:hover {
    opacity: 1; }

.no-header .logo-container {
  position: relative;
  border-bottom: 20px solid #00a7e1;
  text-align: center; }
  .no-header .logo-container img {
    position: relative;
    max-width: 75%;
    bottom: -1.4rem;
    right: -9%; }
    @media screen and (min-width: 400px) {
      .no-header .logo-container img {
        max-width: 50%;
        bottom: -1.8rem;
        right: -3%; } }
    @media screen and (min-width: 1024px) {
      .no-header .logo-container img {
        max-width: 32%;
        bottom: -2rem;
        right: 0; } }
  @media screen and (min-width: 400px) {
    .no-header .logo-container {
      padding-top: 2%; } }

.no-header .collage-with-feather {
  margin-top: 4px;
  height: 9.5rem; }
  .no-header .collage-with-feather img {
    position: absolute;
    z-index: 1;
    max-width: 30%;
    left: 0;
    top: -6rem; }
    @media screen and (min-width: 400px) {
      .no-header .collage-with-feather img {
        max-width: 20%;
        left: 16%;
        top: -6rem; } }
    @media screen and (min-width: 1024px) {
      .no-header .collage-with-feather img {
        max-width: 10%;
        left: 28%; } }

.share {
  max-width: 100%;
  position: relative;
  bottom: -7px;
  left: 0; }
  @media screen and (min-width: 400px) {
    .share {
      max-width: 50rem;
      left: 16%; } }

.icon-benefit {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg); }
  .icon-benefit:after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 4.3rem; }

[class^="health"] .icon-benefit:after,
[class*="health"] .icon-benefit:after {
  background-image: url("../images/icon-health.png");
  top: 2.1rem;
  left: 1.8rem; }

[class^="telemedicine"] .icon-benefit:after,
[class*="telemedicine"] .icon-benefit:after {
  background-image: url("../images/icon-telemedicine.png");
  background-size: 3rem;
  top: 1.8rem;
  left: 2.5rem; }

[class^="career"] .icon-benefit:after,
[class*="career"] .icon-benefit:after {
  background-image: url("../images/icon-career.png");
  background-size: 3.2rem;
  top: 1.8rem;
  left: 2.4rem; }

[class^="loan"] .icon-benefit:after,
[class*="loan"] .icon-benefit:after {
  background-image: url("../images/icon-loan.png");
  background-size: 4.6rem;
  top: 2.3rem;
  left: 1.6rem; }

[class^="wellness"] .icon-benefit:after,
[class*="wellness"] .icon-benefit:after {
  background-image: url("../images/icon-wellness.png");
  background-size: 3.8rem;
  top: 1.4rem;
  left: 2rem; }

[class^="legal"] .icon-benefit:after,
[class*="legal"] .icon-benefit:after {
  background-image: url("../images/icon-legal.png");
  background-size: 4.4rem;
  top: 2rem;
  left: 1.8rem; }

[class^="family-care"] .icon-benefit:after,
[class*="family-care"] .icon-benefit:after {
  background-image: url("../images/icon-carecom.png");
  background-size: 4rem;
  top: 1.8rem;
  left: 1.8rem; }

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #e8f3fd 66%, #9bc8ff 100%); }
  .ball:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.03) 40%, transparent 50%);
    z-index: -1;
    bottom: -4rem;
    left: 0;
    transform: rotateX(104deg); }
  .ball:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 84%;
    left: 83%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg); }

/* Pages */
.agent-verify {
  text-align: center; }
  .agent-verify label.error {
    left: 22%; }
  .agent-verify .icon-right-open {
    position: relative;
    left: -5px; }
  .agent-verify .login-title {
    padding: 1.69em 0 0.845em; }

.login-title {
  font-size: 2.2rem;
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  padding: 0.845em 0 0.4225em; }
  @media screen and (min-width: 400px) {
    .login-title {
      font-size: 3.2rem; } }

.form-container {
  text-align: center; }

.agent-welcome .primary-content {
  text-align: center;
  padding: 0.845em; }

.agent-welcome .aflac-logo {
  margin: 0.845em auto; }

.agent-welcome .collage-with-feather {
  height: 0; }

.agent-welcome .wrapper {
  padding-bottom: 0; }

.agent-welcome .card-center {
  position: relative;
  margin: 0 auto;
  padding: 0.845em 0;
  width: 90%;
  font-family: "proximaNovaThin", Helvetica, Arial, sans-serif;
  font-size: 1.8rem; }
  .agent-welcome .card-center h1 {
    margin-bottom: 0.845em;
    background: transparent url("../images/stars.png") no-repeat 0 0;
    padding-top: 5rem; }
  .agent-welcome .card-center .sign-out {
    position: absolute;
    top: 0.845em;
    right: 0.845em;
    color: #A0AAAE;
    font-size: 1.6rem; }
  .agent-welcome .card-center img {
    display: none; }
  @media screen and (min-width: 400px) {
    .agent-welcome .card-center {
      width: 90%;
      padding: 1.69em 25rem 1.69em 2rem;
      font-size: 2rem; }
      .agent-welcome .card-center img {
        display: block;
        position: absolute;
        right: -4%;
        bottom: 0;
        max-width: 25rem; } }
  @media screen and (min-width: 1024px) {
    .agent-welcome .card-center {
      width: 60%; } }

.agent-welcome .strip {
  background-color: #F8F8F8;
  padding: 1.69em;
  text-align: center; }

.agent-welcome .form-footer {
  border-top: 2px dashed #F8F8F8;
  margin-top: 1.69em; }

.agent-questions h1 {
  margin-bottom: 0.845em; }

.agent-dashboard .table-minimal th {
  text-align: center; }
  .agent-dashboard .table-minimal th:first-child {
    text-align: left; }

.agent-dashboard .products-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.845em 0 0; }
  .agent-dashboard .products-container::after {
    clear: both;
    content: "";
    display: table; }
  .agent-dashboard .products-container .item {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.845em;
    padding: 0 0.845em;
    cursor: pointer;
    min-height: 18.2rem; }
    .agent-dashboard .products-container .item:hover strong {
      text-decoration: underline; }
    .agent-dashboard .products-container .item:hover .ball {
      background: radial-gradient(circle at 50% 40%, #fcfcfc, #cae6ff 66%, #348fff 100%); }
    .agent-dashboard .products-container .item strong {
      display: block;
      color: #00a7e1;
      margin-bottom: 0.5rem; }
    @media screen and (max-width: 568px) {
      .agent-dashboard .products-container .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0; }
        .agent-dashboard .products-container .item:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 569px) {
      .agent-dashboard .products-container .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .agent-dashboard .products-container .item:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1025px) {
      .agent-dashboard .products-container .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        .agent-dashboard .products-container .item:last-child {
          margin-right: 0; } }
  .agent-dashboard .products-container .icon-benefit {
    margin-top: 0.845em; }

/* Icons */
@font-face {
  font-family: 'fontello';
  src: url("fonts/icons/fontello.eot");
  src: url("fonts/icons/fontello.eot"), url("fonts/icons/fontello.woff2"), url("fonts/icons/fontello.woff"), url("fonts/icons/fontello.ttf"), url("fonts/icons/fontello.svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?82014560#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before,
.ui-dialog-titlebar-close:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-cancel:before {
  content: '\e800'; }

/* '' */
.icon-check:before, .check-list li:before, .card-blue .free-section ul li:before,
.card-blue .vas-section ul li:before {
  content: '\e801'; }

/* '' */
.icon-right-open:before {
  content: '\e802'; }

/* '' */
.icon-left-open:before {
  content: '\e803'; }

/* '' */
.icon-down-open:before {
  content: '\e804'; }

/* '' */
.icon-up-open:before {
  content: '\e805'; }

/* '' */
.icon-lightbulb:before {
  content: '\e806'; }

/* '' */
.icon-cc-nd:before {
  content: '\e807'; }

/* '' */
.icon-money:before {
  content: '\e808'; }

/* '' */
.icon-tag:before {
  content: '\e809'; }

/* '' */
.icon-attention:before {
  content: '\e80a'; }

/* '' */
.icon-pencil:before {
  content: '\e80b'; }

/* '' */
.icon-star:before {
  content: '\e80c'; }

/* '' */
.icon-heart:before {
  content: '\e80d'; }

/* '' */
.icon-bullhorn:before {
  content: '\e80e'; }

/* '' */
.icon-dot-3:before, .radio-checkbox-list .control .see-more:before {
  content: '\e80f'; }

/* '' */
.icon-plus:before {
  content: '\e810'; }

/* '' */
.icon-thumbs-up:before {
  content: '\e811'; }

/* '' */
.icon-phone:before {
  content: '\e812'; }

/* '' */
.icon-help-circled:before {
  content: '\e813'; }

/* '' */
/* Master Styles */
html,
body {
  height: 100%;
  max-height: 100%;
  display: block;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  position: relative;
  background-color: white;
  -webkit-overflow-scrolling: touch; }

*,
*::before,
*::after {
  box-sizing: inherit; }
