.control {
  cursor: pointer;
  margin-top: $small-spacing/2;
  padding-left: 4rem;
  margin-right: $small-spacing*2;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  em {
    display: inline-block;
    float: right;
    color: darken($medium-gray, 15%);
  }
}

.control--radio,
.control--checkbox {
  font-family: $thin-font-family;
  font-size: 2rem;
  display: inline-block;
}

.control__indicator {
  position: absolute;
  top: -0.3rem;
  left: 0;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 4px solid lighten($base-font-color, 35%);
  background-color: white;
}

.control {
  &:hover input ~ .control__indicator {
    border: 4px solid $base-font-color;
  }
  &:hover .control__indicator:before {
    color: $base-font-color;
  }
  input {
    &:focus ~ .control__indicator {
      // background: #ccc;
    }
    &:checked ~ .control__indicator {
      border: 4px solid $base-font-color;
    }
  }
  &:hover input:not([disabled]):checked ~ .control__indicator {
    // background: $medium-blue;
  }
  input {
    &:checked:focus ~ .control__indicator {
      background-color: white;
    }
    &:disabled ~ .control__indicator {
      background-color: $medium-gray;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control--radio {
  .control__indicator:after {
    left: 5px;
    top: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $base-font-color;
  }
  input:disabled ~ .control__indicator:after {
    background-color: #7b7b7b;
  }
}

.control--checkbox {
  .control__indicator:before {
    content: '+';
    font-family: $semiBold-font-family;
    font-size: 2.5rem;
    position: absolute;
    left: 7px;
    top: -2px;
    color: lighten($light-gray, 10%);
  }
  .control__indicator:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:before {
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}


// Feedback from

.feedback-form {
  .feedback-label {
    padding-bottom: 1.5rem;
  }
  .control {
    text-align: center;
    padding: 0;
    margin: 0 $small-spacing 0 0;
    span {
      display: block;
      visibility: hidden;
      position: absolute;
      bottom: -1.7rem;
      left: 0;
      right: 0;
      font-size: 1.4rem;
      font-family: $thin-font-family;
      text-transform: uppercase;
    }
    &:hover span {
      visibility: visible;
    }
    &:hover input ~ .control__indicator {
      border: 0;
    }
  }
  .control__indicator {
    position: static;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border: 0;
    background-image: url('../images/feedback-emotion-sprite.png');
    background-repeat: no-repeat;
    background-size: 20.4rem;
    &.like {
      background-position: -5.1rem 0;
    }
    &.neutral {
      background-position: -10.2rem 0;
    }
    &.dislike {
      background-position: -15.3rem 0;
    }
    &:after {
      display: none !important;
    }
  }
  input {
    &:hover ~ .control__indicator,
    &:focus ~ .control__indicator,
    &:checked ~ .control__indicator {
      background-color: transparent;
      border: 0;
      span {
        visibility: visible;
      }
    }
  }
}
